body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: url("../images/grunge4smol.jpg") no-repeat center center fixed;
    background-color: black;
    background-size: cover;
}

/* Top card starte */

.header {
    background-color: black;
    text-align: end;
    height: 100px;
}

a {
    text-decoration-line: none;
}

.optionCard {
    background-color: maroon;
    color: white;
    border-style:ridge;
    display: inline;
    text-align: end;
    vertical-align: top;
    font-size: 30px;
    margin-right: 10px;
    transition: padding-top 0.5s, opacity 0.2s;
}
.optionCard:hover {
    padding-top: 25px;
}
.optionCard:active {
    opacity: 0.5;
    padding-top: 20px;
}

.title {
    margin-left: 20px;
    color: white;
    font-size: 40px;
}
p {
    color: white;
    margin-left: 20px;
}

h1 {
    color: white;
    margin-left: 20px;
}
/* Top card End */

/* Band Member grid start */

.profileContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile {
    max-width: 500px;
    background-color: maroon;
    color: white;
    border-style: solid;
    border-color: brown;
    padding-top: 55px;
    text-align: center
}

.desc {
    font-size: 25px;
}

/* Band member end */