body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: url("../images/grunge4smol.jpg") no-repeat center center fixed;
    background-color: black;
    background-size: cover;
}

.head {
    background-color: black;
    text-align: end;
    height: 100px;
}

a {
    text-decoration-line: none;
}

.optionCard {
    background-color: maroon;
    color: white;
    border-style:ridge;
    display: inline;
    text-align: end;
    vertical-align: top;
    font-size: 30px;
    margin-right: 10px;
    transition: padding-top 0.5s, opacity 0.2s;
}
.optionCard:hover {
    padding-top: 25px;
}
.optionCard:active {
    opacity: 0.5;
    padding-top: 20px;
}

.title {
    color: white;
    font-size: 50px;
    margin-left: 40px;
}

/* TABLES */

thead {
    background-color: rgb(87, 3, 3);
}

table {
    background-color: maroon;
    color: white;
    font-size: 20px;
    border-collapse: collapse;
    margin-left: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

td {
    border-width: 3px;
    border-style: solid;
    /* border-color: brown; */
    border-color: black;
    padding: 10px;
}

.buy {
    border-style: none;
    font-size: 20px;
    padding: 8px;
    color: white;
    width: 300px;
    background-color: black;
    transition: padding 0.3s, font-size 0.2s;
}
.buy:hover {
    padding: 10px;
    font-size: 25px;
}

.category {
    font-size: 35px;
    text-align: center;
}